*,*::after,*::before{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main{
    position: relative;
    height : 100%;
    width : 100%;
    height : 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
    background: url('./img/bckimg2.jpg') no-repeat center center/cover;
    overflow: hidden;
}

.main::after{
    position: absolute;
    content: "";
    height : 100%;
    width : 100%;
    background-color: rgba(0, 0, 0, .5);
}

.mainDiv{
    width : 380px;
    height : 380px;
    position : relative;
    border: .3px solid #191919;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    background-color: white;
    overflow: hidden;
}

.mainDiv__steps ul{
    list-style: none;
    display : flex;
    justify-content: space-evenly;
    color : #241a1a;
    border-bottom: 1px solid #191919;
    width : 100%;
    position: relative;
}

.mainDiv__steps{
    position: relative;
}

.mainDiv__statusBar{
    background-color: orange;
    width : 32%;
    height: 100%;
    transform: translateY(-100%);
    position: absolute;
    transition: all .75s ease;  
}

.mainDiv__statusBar::after{
    position: absolute;
    content: "";
    height: 0px;
    width: 0px;
    border : 21px solid;
    border-color: transparent transparent transparent orange;
    left : 121px;
    transform: translateY(-1.5%);
    transition: all .75s ease;
}

.mainDiv__statusBar.trail1{
    width: 58%;
}

.mainDiv__statusBar.trail1::after{
    left: 218px;

}

.mainDiv__statusBar.trail2{
    width : 100%;
}

.mainDiv__statusBar.trail2::after{
    left : 378px;
}


.mainDiv__statusBar.trail3{
    width : 58%;
}

.mainDiv__statusBar.trail3::after{
    left : 218px;
}

.mainDiv__statusBar.trail4{
    width : 32%;
}

.mainDiv__statusBar.trail4::after{
    left : 121px;
}

.mainDiv__steps li{
    font-size : .9rem;
    padding : .75rem 0rem;
    position: relative;
    z-index: 1;
}


.mainDiv__formHolder{
    height : 70%;
    position : relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.mainDiv__createAccount, .mainDiv__socialLinks, .mainDiv__personalInfo{
    height : 80%;
    width : 80%;
    position : absolute;
    transition: all .75s ease;
}

.cMoveRight {
    transform : translateX(400px);
}

h2 {
    text-align: center; 
    font-size: 1.2rem;
    margin: .4rem 0rem;
    margin-bottom: 1.5rem;
    color : black;
}

.mainDiv__socialLinks,.mainDiv__personalInfo{
    transform: translateX(-400px);
}

.sMoveMiddle {
    transform: translateX(0px);
}

.sMoveMiddleFromRight{
    transform: translate(0px);
    transition: all .75s .2s ease;
}

.sMoveRight{
    transform: translateX(400px);
    transition: all 1s ease;
}

.pMoveMiddle {
    transform: translateX(0px); 
}

input{
    display: block;
    width : 90%;
    margin : .8rem auto;
    padding : 10px 5px;
    border : 0;
    border-bottom: 1px solid #191919;
    outline : none;
}


.mainDiv__createAccount a, .mainDiv__btns a{
    display: inline-block;
    text-decoration: none;
    background: blue;
    color : white;
    padding : .45rem 1.75rem;
    border-radius: 50px;
    margin-top: 1rem;
}

.mainDiv__createAccount a{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.mainDiv__btns {
    text-align: center; 
    margin-top: 1rem;
}

.mainDiv__btns a:first-child{
    margin-right: .95rem;
}